receiver.spec
sender.spec
__pycache__/funcoes.cpython-312.pyc
build/receiver/Analysis-00.toc
build/receiver/base_library.zip
build/receiver/EXE-00.toc
build/receiver/PKG-00.toc
build/receiver/PYZ-00.pyz
build/receiver/PYZ-00.toc
build/receiver/receiver.pkg
build/receiver/Tree-00.toc
build/receiver/Tree-01.toc
build/receiver/Tree-02.toc
build/receiver/warn-receiver.txt
build/receiver/xref-receiver.html
build/receiver/localpycs/pyimod01_archive.pyc
build/receiver/localpycs/pyimod02_importers.pyc
build/receiver/localpycs/pyimod03_ctypes.pyc
build/receiver/localpycs/pyimod04_pywin32.pyc
build/receiver/localpycs/struct.pyc
build/sender/Analysis-00.toc
build/sender/base_library.zip
build/sender/EXE-00.toc
build/sender/PKG-00.toc
build/sender/PYZ-00.pyz
build/sender/PYZ-00.toc
build/sender/sender.pkg
build/sender/Tree-00.toc
build/sender/Tree-01.toc
build/sender/Tree-02.toc
build/sender/warn-sender.txt
build/sender/xref-sender.html
build/sender/localpycs/pyimod01_archive.pyc
build/sender/localpycs/pyimod02_importers.pyc
build/sender/localpycs/pyimod03_ctypes.pyc
build/sender/localpycs/pyimod04_pywin32.pyc
build/sender/localpycs/struct.pyc
